annotated-types==0.6.0
anyio==4.2.0
asgiref==3.7.2
attrs==23.2.0
Babel==2.9.1
beautifulsoup4==4.12.3
bidict==0.22.1
blinker==1.7.0
cached-property==1.5.2
certifi @ file:///private/tmp/python-certifi-20231211-18102-76ipel/certifi-2023.11.17
cffi @ file:///private/tmp/cffi-20231211-40239-j25k6o/cffi-1.16.0
chardet==4.0.0
click==8.1.7
cryptography==3.4.8
decorator==4.4.2
Django==5.0.1
django-rename-app==0.1.7
docopt==0.6.2
docutils==0.17
ebaysdk==2.1.5
fastapi==0.109.0
Flask==3.0.2
Flask-SocketIO==5.3.6
freezegun==1.1.0
geoip2==2.9.0
gevent==22.10.2
greenlet==2.0.2
gunicorn==21.2.0
h11==0.14.0
idna==2.10
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
libsass==0.20.1
lxml==4.9.2
MarkupSafe==2.1.2
maxminddb==2.5.2
num2words==0.5.10
ofxparse==0.21
packaging @ file:///private/tmp/python-packaging-20231211-10905-adsfgp/packaging-23.2
passlib==1.7.4
Pillow==9.4.0
platformdirs==4.1.0
polib==1.1.1
psutil==5.9.4
psycopg2==2.9.5
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser @ file:///private/tmp/pycparser-20231211-25057-cypg40/pycparser-2.21
pydantic==2.6.0
pydantic_core==2.16.1
pydot==1.4.2
pyOpenSSL==21.0.0
pyparsing @ file:///private/tmp/python-pyparsing-20231211-60390-kqm07q/pyparsing-3.1.1
PyPDF2==2.12.1
pyserial==3.5
python-dateutil==2.8.1
python-engineio==4.8.2
python-ldap==3.4.0
python-socketio==5.11.0
python-stdnum==1.17
pytz @ file:///private/tmp/python-pytz-20231211-67357-pjloep/pytz-2023.3.post1
pyusb==1.2.1
PyYAML @ file:///private/tmp/pyyaml-20231018-5610-1rdh755/PyYAML-6.0.1
qrcode==7.3.1
reportlab==3.6.12
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==1.0.0
rjsmin==1.1.0
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
# starlette==0.35.1
typing_extensions==4.9.0
urllib3==1.26.5
uvicorn==0.27.0.post1
vobject==0.9.6.1
Werkzeug==3.0.1
wsproto==1.2.0
xlrd==1.2.0
XlsxWriter==3.0.2
xlwt==1.3.0
zeep==4.1.0
zope.event==5.0
zope.interface==6.1
